html{-webkit-text-size-adjust:none;}
body{font:12px/1.5 'Microsoft YaHei',Tahoma,Arial,Helvetica,STHeiTi;}
body,form,h1,h2,h3,h4,h5,h6,p,ul,li,dl,dd{margin:0;}
h2,h3{font-size:14px;}
h4,h5,h6{font-size:12px;font-weight:300;}
ul,ol{padding:0;}
b{font-weight:normal;}
i{font-style:normal;}
li{list-style:none;}
img{border:0;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
textarea{overflow:auto;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.zoom{overflow:hidden;zoom:1;}
.show{display:block;}
.hide{display:none;}
.fl{float:left;*display:inline;}
.fr{float:right;*display:inline;}
.cl{clear:both;}
.ect{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;font-family:Verdana;}
.abs{position:absolute;}
.rel{position:relative;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.b12{font-weight:700;font-size:12px;}
.b14{font-weight:700;font-size:14px;}
.rpx{background-repeat:repeat-x;}
.rpy{background-repeat:repeat-y;}
.rpn{background-repeat:no-repeat;}
.dsb{display:block;}
.dsi{display:inline;}
.dsn{display:none;}
.dsib{display:inline-block;}
.tac{text-align:center;}
.tal{text-align:left;}
.tar{text-align:right;}
.w100{width:980px;margin:auto;}
.bw100{width:978px;margin:auto;}
.w70{width:736px;margin:auto;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:10px;}
.mt10{margin-top:10px;}
.p5{padding:5px;}
.p10{padding:10px;}
.pie{_behavior:url(js/jslib/PIE.htc);}
.hand{cursor:pointer;}
