body {
	background-color:#341e57;
	font-family:'Myriad Pro', calibri;
	margin:0; 
	padding:0;
}
#banner {
	width: 100%;
}
#banner img{
	width: 100%;
}
#logo {
	position:absolute;
	left:50%;
	margin: 0 0 0 -81px;
	top:0px;
}
#content img{
	position: relative;
	width: 800px;
	left: 50%;
	margin: 100px 0px 0px -400px;
}
#footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
#bottom {
	position: relative;
	text-align: center;
	margin: 0 auto;
	margin: 0px 0px 20px 0px;
	color:#eb6f3c;	 
}