.pop-reg-company-delete{display:none;z-index:111;width:345px;position:fixed;top:50%;left:50%;margin:-141px 0 0 -170px;background:url(home/pop-header-bg.png) no-repeat;}
.pop-reg-company-delete-close{width:20px;height:20px;top:-20px;right:1px;cursor:pointer;}
.pop-reg-company-delete-wrap{margin-top:20px;padding:0px 20px 6px 20px;background:url(home/pop-body-bg.png) repeat-y;}
.pop-reg-company-delete-error-msg{color:#ee6934;margin-top:10px;display:none;}
.pop-reg-company-delete-error-msg a{color:#ee6934;text-decoration: underline;}
.pop-reg-company-delete-footer{height:11px;background:url(home/pop-footer-bg.png) no-repeat;}
.font_bold{font-weight:bold;}
.pop-reg-company-delete-wrap label b{font-size:9px;height:18px;line-height:18px;}
.pop-reg-company-delete-wrap label span{font-size:9px;height:18px;line-height:18px;margin-left:20px;color:red;}
.pop-reg-company-delete-wrap label .kyo-input{width:98%;}
.pop-reg-company-delete-wrap label.fl{width:48%;}
.pop-reg-company-delete-wrap label.fr{width:48%;margin-right:1%;}
.pop-reg-company-delete-tit{height:25px;line-height:14px;font:Arial;}
.pop-reg-company-delete-tit b{font-weight:bolder;height:14px;line-height:14px;font-size:14px;}
.pop-reg-company-delete-tit i{color:#393939;float:right;*display:inline;font-size:10px;padding:0 15px 0 0;}
.pop-reg-company-delete-tit a{color:#ea6e3b;}
.pop-reg-company-delete-type{height:20px;padding:10px 0 8px 0;}.pop-reg-company-delete-type i{margin:0 20px 0 0;}
.pop-reg-company-delete-personal,.pop-reg-company-delete-company,.pop-reg-company-delete-mail,.pop-reg-company-delete-password{height:70px;overflow:hidden;zoom:1;}
.pop-reg-company-delete-agree{adding-right:8px;margin-top: 6px;}.pop-reg-company-delete-agree i.kyo-checkbox{font-size:9px;}
.pop-reg-company-delete-submit{text-align:center;}
.margin_left15{margin-left:15px;}
.pop-reg-company-delete-submit-btn{width:221px;height:28px;margin:auto;cursor:pointer;border:0;background:url(home/reg-submit.gif) no-repeat;}
.pop-login{display:none;z-index:111;width: 238px;min-height:149px;position:absolute;top:50%;left:50%;margin:-141px 0 0 -127px;}
.pop-login .phd-login-pop {background: url(pub/login_body_bg2.png) no-repeat !important; display:block !important;top: 0px !important;left: 0px !important;}
.pop-welcome{display:none;z-index:102;width:491px;height:232px;position:absolute;top:50%;left:50%;margin:-116px 0 0 -245.5px;background:url(home/pop-welcome.png);}.pop-welcome b,.pop-welcome .span2{text-align:center;font-size:22px;color:#cb6139;font-family:Arial;line-height:26px;font-weight:bolder;}
.pop-welcome b{display:block;padding:32px 100px 20px 100px;}
.pop-welcome-close{width:20px;height:20px;top:3px;right:3px;cursor:pointer;display:block;}
.pop-welcome-bd{overflow:hidden;zoom:1;}.pop-welcome-bd .span1,.pop-welcome-bd .span2,.pop-welcome-bd .span3{*display:inline;}
.pop-welcome-bd .span1{width:215px;float:left;margin-right:0px;}
.pop-welcome-bd .span2{width:60px;float:left;}
.pop-welcome-bd .span3{width:215px;float:right;}
.pop-welcome-bd .span1{text-align:right;}
.pop-welcome-bd .span2{font-size:22px;padding:10px 0 0 0;}
.pop-welcome-bd .span1,.pop-welcome-bd .span3{color:#674092;font-weight:700;font-size:14px;}
.pop-welcome-bd .pop-welcome-here{width:106px;height:42px;line-height:42px;display:inline-block;text-align:center;vertical-align:top;background:url(home/here.gif) no-repeat;margin-top:10px;}
.request-sent-pop-message {display:none;z-index:102;width:494px;height:233px;position:absolute;top:50%;left:50%;margin:-116px 0 0 -245.5px;background:url(home/pop-msg-bg-small.png);}
.pop-message-delete-message {display:none;z-index:102;width:494px;height:233px;position:fixed;top:50%;left:50%;margin:-116px 0 0 -245.5px;background:url(home/pop-msg-bg.png);}
.pop-welcome b,.pop-welcome .span2{text-align:center;font-size:22px;color:#cb6139;font-family:Arial;line-height:26px;font-weight:bolder;}
.pop-message-delete-message-wrap{padding:10px;}
.pop-message-delete-message b{display:block;font-weight:bold;padding:25px 0px 15px 0px;color:#f17343;font-size:24px;text-align:center;}
.pop-message-delete-message-close{width:20px;height:20px;right:0px;top:-1px;cursor:pointer;display:block;}
.pop-message-delete-message-bd{overflow:hidden;zoom:1;width:400px;margin:0 auto;text-align: center;}
.pop-message-delete-message-bd .message_title{color:#674092;font-size:16px;font-weight:bold;}
.pop-message-delete-message-bd .message_content{color:#674092;font-size:13px;width:330px;margin:0 auto;margin-top:10px;}
