body{background:url(home/body_bg.png) no-repeat top fixed;}
.ora{color:#ea6e3b;}
.pur{color:#481052;}
.p-bn{height:390px;z-index:5;}
.pbn-find{padding:114px 0 40px 0;text-align:center;width:492px;margin:auto;}
.pbn-job,.pbn-staff,.pbn-btn{display:block;width:231px;height:164px;float:left;}
.pbn-job{margin:0 20px 0 0;}
.pbn-btn{background-image:url(home/find.png);}
.pbn-btn-job{background-position:0 0;}.pbn-btn-job:hover{background-position:0 -328px;}
.pbn-btn-staff{background-position:0 -164px;}.pbn-btn-staff:hover{background-position:0 -492px;}
.p-bn .beta-msg {width:187px; height:186px; background: url(home/beta-msg.png) no-repeat; top:20px; left:-209px;}
.find-hover{display:none;width:238px;height:256px;background:url(home/find-hover.png) no-repeat;left:-4px;top:150px;}.find-hover strong{display:block;text-align:left;padding:15px 0 0 15px;height:33px;line-height:33px;color:#626262;}
.find-hover p a{color:#ea6e3b;}
.find-hover ul{width:224px;height:180px;margin:auto;background:url(home/find-li.gif) no-repeat;}
.find-hover li{height:45px;position:relative;text-align:left;}.find-hover li a{display:block;position:absolute;top:0;left:0;height:45px;overflow:hidden;text-decoration:none;}.find-hover li a:hover{text-decoration:none;}
.find-hover li b{display:block;color:#fff;padding:5px 0 0 0;font-weight:bolder;}
.find-hover li i{color:#e6e650;font-size:11px;}
.find-hover .even a{background-position:0 -45px;}
.pbn-job-ul a{background:url(home/find-mark1.png);background-repeat:no-repeat;padding:0 0 0 75px;width:154px;}
.pbn-staff-ul img{padding-left:8px;}
.pbn-staff-ul a{background:url(home/find-mark2.png);background-repeat:no-repeat;padding:0 0 0 60px;width:179px;}
.pbn-find{height:170px;}
.pbn-singup{text-align:center;}
.pbn-singup{clear:both;}
.pbn-singup-btn{background:url(home/singup.png);display:inline-block;width:232px;height:41px;}
.p-bd{height:156px;}
.p-sponsors .scroll-item{float:left;display:inline-block;}
.p-sponsors .scroll-bar{position:absolute;cursor:pointer;height:38px;width:23px;bottom:23px;top:50%;margin-top:-19px;background-image:url(home/roll-bar.gif);background-repeat:no-repeat;}
.p-sponsors .scroll-left{left:82px;}
.p-sponsors .scroll-right{right:82px;background-position:0 bottom;}
.p-sponsors-item{position:relative;cursor:pointer;text-decoration:none;}.p-sponsors-item .mark{position:absolute;top:0;left:0;width:168px;height:85px;background:url(home/sponsors-mark.gif) no-repeat;}
.p-sponsors-item p{position:absolute;width:90px;left:73px;top:6px;}
.p-sponsors-item b{color:#fff;font-weight:700;font-size:12px;text-transform:uppercase;line-height:14px;vertical-align:top;display:block;}
.p-sponsors-item span{color:#d6d54f;text-transform:capitalize;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:14px;vertical-align:top;}
.p-sponsors-item:hover span{text-decoration:none;}
.p-blog{height:324px;background:url(home/blog-bg.png) repeat-x;overflow:hidden;zoom:1;}
.h-blog-hd{height:50px;padding:14px 0 0 0;font-weight:bolder;}.h-blog-hd strong{display:block;height:24px;line-height:24px;font-size:18px;color:#674092;}
.h-blog-hd a{background:url(home/arr.gif) no-repeat right;padding:0 16px 0 0;color:#481052;}
.h-blog-ul li{width:184px;float:left;*display:inline;display:inline;height:235px;position:relative;overflow:hidden;background-color:#f16f3a;}
.h-blog-ul .mark{position:absolute;top:0;left:0;width:100%;height:160px;background-image:url(home/blog.png);background-repeat:no-repeat;}
.h-blog-ul li.n1 .mark{background-position:0 0;}
.h-blog-ul li.n2 .mark{background-position:-184px 0;}
.h-blog-ul li.n3 .mark{background-position:-368px 0;}
.h-blog-ul li.n4 .mark{background-position:-552px 0;}
.h-blog-ul img{margin:5px 0 0 32px;}
.h-blog-ul a{position:absolute;top:10px;left:0;width:183px;height:105px;padding:110px 0 0 0;overflow:hidden;text-decoration:none;border-right:1px solid #dd602e;}.h-blog-ul a strong,.h-blog-ul a span,.h-blog-ul a b{font:Arial;text-align:center;display:block;word-wrap:break-word;word-break:normal;overflow:hidden;cursor:pointer;}
.h-blog-ul a strong,.h-blog-ul a span{padding:0 10px;}
.h-blog-ul a span,.h-blog-ul a b{font-size:10px;}
.h-blog-ul a strong{font-size:16px;text-transform:uppercase;line-height:18px;height:42px;color:#522162;}
.h-blog-ul a span{line-height:11px;height:45px;color:#fff;}
.h-blog-ul a b{color:#e6e74f;}
.h-blog-ul a:hover{text-decoration:none;}
/*.h-blog-ul li:hover img{-webkit-animation:rotateIn 1s .2s ease both;-moz-animation:rotateIn 1s .2s ease both;}*/
.p-jobs .title {color:#674092;font-size:14px;font-weight: bold;margin-bottom:3px;}
.p-jobs .h-jobs-bd {background: #674092; height: 94px;}
.p-jobs .h-jobs-bd .p-jobs-item {width:190px; height:68px; overflow:hidden; margin-top:13px; display:block; float:left;border-right:1px #3a0837 solid;}
.p-jobs .h-jobs-bd .p-jobs-item .mark{top:0px; z-index:98; background:url("home/recentlyjobs-bg.png") no-repeat; width:183px; height:68px;}
.p-jobs .h-jobs-bd .p-jobs-item img {z-index:97; position:absolute; top:5px; left:6px;}
.p-jobs .last {border: 0px !important;}
.p-jobs .h-jobs-bd .p-jobs-item .jobtitle {z-index:99; color: #fff; top:3px; left:70px; width:120px; height:18px;}
.p-jobs .h-jobs-bd .p-jobs-item .compname {z-index:100; color: #EBF14A; top:35px; left:70px; text-decoration: underline;}
.p-jobs .h-jobs-bd .p-jobs-item .city {z-index:100; color: #EBF14A; top:40px; left:70px; }
.p-partners {margin:25px 0;}
.p-partners .title {color:#674092;font-size:14px;font-weight: bold;margin-bottom:3px;}
.p-partners .h-partners-bd {height:108px;}
.p-partners .h-partners-bd .p-partners-item {float:left; width:190px; height:108px; overflow:hidden;}
@-webkit-keyframes rotateIn{0%{-webkit-transform-origin:center center;-webkit-transform:rotate(-360deg);opacity:1;} 100%{-webkit-transform-origin:center center;-webkit-transform:rotate(0);opacity:1;}}@-moz-keyframes rotateIn{0%{-moz-transform-origin:center center;-moz-transform:rotate(-360deg);opacity:1;} 100%{-moz-transform-origin:center center;-moz-transform:rotate(0);opacity:1;}}
.pop-reg{display:none;z-index:111;width:345px;position:absolute;top:50%;left:50%;margin:-141px 0 0 -170px;background:url(home/pop-header-bg.png) no-repeat;}
.pop-reg-close{width:20px;height:20px;top:-20px;right:1px;cursor:pointer;}
.pop-reg-wrap{margin-top:20px;padding:0px 20px 6px 20px;background:url(home/pop-body-bg.png) repeat-y;}
.pop-reg-error-msg{color:#ee6934;margin-top:10px;display:none;}
.pop-reg-error-msg a{color:#ee6934;text-decoration: underline;}
.pop-reg-footer{height:11px;background:url(home/pop-footer-bg.png) no-repeat;}
.font_bold{font-weight:bold;}
.pop-reg-wrap label b{font-size:9px;height:18px;line-height:18px;}
.pop-reg-wrap label span{font-size:9px;height:18px;line-height:18px;margin-left:20px;color:red;}
.pop-reg-wrap label .kyo-input{width:98%;}
.pop-reg-wrap label.fl{width:48%;}
.pop-reg-wrap label.fr{width:48%;margin-right:1%;}
.pop-reg-tit{height:14px;line-height:14px;font:Arial;}
.pop-reg-tit b{font-weight:bolder;height:14px;line-height:14px;font-size:14px;}
.pop-reg-tit i{color:#393939;float:right;*display:inline;font-size:10px;padding:0 15px 0 0;}
.pop-reg-tit a{color:#ea6e3b;}
.pop-reg-type{height:20px;padding:10px 0 8px 0;}.pop-reg-type i{margin:0 20px 0 0;}
.pop-reg-personal,.pop-reg-company,.pop-reg-mail,.pop-reg-password{height:50px;overflow:hidden;zoom:1;}
.pop-reg-agree{height:28px;adding-right:8px;margin-top: 6px;}.pop-reg-agree i.kyo-checkbox{font-size:9px;}
.pop-reg-submit{text-align:center;}
.margin_left15{margin-left:15px;}
.pop-reg-submit-btn{width:221px;height:28px;margin:auto;cursor:pointer;border:0;background:url(home/reg-submit.gif) no-repeat;}
.pop-login{display:none;z-index:111;width: 238px;min-height:149px;position:absolute;top:50%;left:50%;margin:-141px 0 0 -127px;}
.pop-login .phd-login-pop {background: url(pub/login_body_bg2.png) no-repeat !important; display:block !important;top: 0px !important;left: 0px !important;}
.pop-welcome{display:none;z-index:102;width:491px;height:232px;position:absolute;top:50%;left:50%;margin:-116px 0 0 -245.5px;background:url(home/pop-welcome.png);}.pop-welcome b,.pop-welcome .span2{text-align:center;font-size:22px;color:#cb6139;font-family:Arial;line-height:26px;font-weight:bolder;}
.pop-welcome b{display:block;padding:32px 100px 20px 100px;}
.pop-welcome-close{width:20px;height:20px;top:3px;right:3px;cursor:pointer;display:block;}
.pop-welcome-bd{overflow:hidden;zoom:1;}.pop-welcome-bd .span1,.pop-welcome-bd .span2,.pop-welcome-bd .span3{*display:inline;}
.pop-welcome-bd .span1{width:215px;float:left;margin-right:0px;}
.pop-welcome-bd .span2{width:60px;float:left;}
.pop-welcome-bd .span3{width:215px;float:right;}
.pop-welcome-bd .span1{text-align:right;}
.pop-welcome-bd .span2{font-size:22px;padding:10px 0 0 0;}
.pop-welcome-bd .span1,.pop-welcome-bd .span3{color:#674092;font-weight:700;font-size:14px;}
.pop-welcome-bd .pop-welcome-here{width:106px;height:42px;line-height:42px;display:inline-block;text-align:center;vertical-align:top;background:url(home/here.gif) no-repeat;margin-top:10px;}
.pop-message, .request-sent-pop-message {display:none;z-index:102;width:494px;height:233px;position:absolute;top:50%;left:50%;margin:-116px 0 0 -245.5px;background:url(home/pop-msg-bg.png);}.pop-welcome b,.pop-welcome .span2{text-align:center;font-size:22px;color:#cb6139;font-family:Arial;line-height:26px;font-weight:bolder;}
.pop-message-wrap{padding:10px;}
.pop-message b{display:block;font-weight:bold;padding:25px 0px 15px 0px;color:#f17343;font-size:24px;text-align:center;}
.pop-message-close{width:20px;height:20px;right:0px;top:-1px;cursor:pointer;display:block;}
.pop-message-bd{overflow:hidden;zoom:1;width:400px;margin:0 auto;text-align: center;}
.pop-message-bd .message_title{color:#674092;font-size:16px;font-weight:bold;}
.pop-message-bd .message_content{color:#674092;font-size:13px;width:330px;margin:0 auto;margin-top:10px;}
.company-hd{height:115px;}.company-hd .face{display:block;width:128px;height:128px;background:url(company/face.png) no-repeat;top:-38px;left:15px;}
.company-hd .text{float:left;*display:inline;width:260px;padding:10px 0 0 156px;overflow: hidden;height: 95px;}.company-hd .text h2,.company-hd .text h4{color:#48225b;font-weight:bolder;}
.company-hd .text h2{font-size:22px;text-transform:uppercase;}
.company-hd .text h4{font-size:20px;}
.company-hd .text p{color:#5c5c5c;font-size:15px;}
.company-hd .face, .jobseeker-hd .face{background: url("jobseeker/profile_img_masker.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);height: 128px;left: 10px;position: absolute;top: -37px;width: 128px;}
.company-hd img, .jobseeker-hd img { left: 10px;position: absolute;top: -37px;}
.jobseeker-hd .text{width:220px;}
.jobseeker-bd a{color: #ea6e3b;margin-right: 5px;}
.company-hd .btnarea{float:right;*display:inline;width:375px;padding:0 15px 0 0;text-align:right;position:absolute;top:-6px;right:0;}
.company-hd .combtn{width:79px;height:79px;line-height:79px;display:inline-block;text-align:center;vertical-align:top;background-image:url(company/btns.png);background-repeat:no-repeat;}
.company-hd .bookmark{background-position:0 0;}
.company-hd .bookmarded{background-position:0 -79px;}
.company-hd .website{background-position:0 -158px;}
.company-hd .edit{background-position:0 -237px;}
.company-hd .inbox{background-position:0 -316px;}
.company-hd .views{background-position:0 -395px;}
.company-hd .cand{background-position:0 -474px;}
.company-hd .combo_btns {width: 79px;height: 79px;line-height: 79px;display: inline-block;text-align: center;vertical-align: top;background-image: url(jobseeker/combo_btns.png);background-repeat: no-repeat;}
.company-hd .view_profile{background-position:0 -553px;}
.company-hd .start_jingchat{background-position:0 -632px;}
.company-hd .shorlist_candidate{background-position:0 -711px;}
.company-hd .request_interview{background-position:0 -790px;}
.company-bd{overflow:hidden;zoom:1;font-family:Arial;font-size:13px;padding:0 15px 15px 15px;}.company-bd dt{font-weight:bolder;padding-bottom:5px;}.company-bd dt a{color:#674092;font-size:12px;text-transform:capitalize;}.company-bd dt a:hover{text-decoration:none;}
.company-bd .idustry a{color:#ea6e3b;text-transform:capitalize;margin-right:5px;}
.company-bd dd{font-size:12px;}
.company-bd-left, .jobseeker-bd-left{width:470px;border-right:1px solid #e6e74f;float:left;*display:inline;padding:0 10px 0 0;}
.company-bd-right, .jobseeker-bd-right{width:240px;float:right;*display:inline;}
.jobseeker-bd-left{border:none;padding:0;}
.jobseeker-bd-right{border-left:1px solid #e6e74f;padding:0 0 0 10px;}
.similar_people .people_icon{float:left;position: relative;}
.similar_people .people_icon img{width:50px;height:50px;}
.similar_people .people_icon .mask{position:absolute;top:0;left:0;width:50px;height:50px;background: url(home/story_img_mark.png) no-repeat;}
.similar_people .people_description{float:left;width:180px;margin-left:6px;color:#000000;}
.similar_people .people_description div{font-weight:bold;color:#674092;}
.redstar-works{margin-top:10px;border-top:1px solid #dcdcdc;}.redstar-works li{border-bottom:1px solid #dcdcdc;height:34px;line-height:34px;background:url(company/arr.png) no-repeat right;}
.redstar-works a{font-weight:bolder;color:#674092;}
.redstar-web{line-height:1.8;}.redstar-web a{color:#ea6e3b;font-weight:bolder;}
.company-similar{padding:5px 20px 10px 20px;}.company-similar a{color:#674092;font-weight:bolder;font-size:13px;}
.listed{margin:5px 0 0 0;border-top:1px solid #dcdcdc;}.listed p{color:#674092;font-weight:bolder;padding:10px 0 15px 0;}
.com-roll-bd{background:#674092;height:97px;}
.com-roll .scroll-item{float:left;display:inline-block;}
.com-roll .scroll-bar{position:absolute;cursor:pointer;height:38px;width:23px;bottom:23px;top:50%;margin-top:-19px;background-image:url(home/roll-bar.gif);background-repeat:no-repeat;}
.com-roll .scroll-left{left:82px;}
.com-roll .scroll-right{right:82px;background-position:0 bottom;}
.com-roll-item{position:relative;cursor:pointer;text-decoration:none;}.com-roll-item .mark{position:absolute;top:0;left:0;width:187px;height:69px;background:url(company/roll-mark.png) no-repeat;}
.com-roll-item img{margin-top:3px;}
.com-roll-item p{position:absolute;width:110px;left:73px;top:6px;}
.com-roll-item b{color:#e7e751;font-size:12px;text-transform:uppercase;line-height:14px;vertical-align:top;display:block;}
.com-roll-item span{color:#fff;text-transform:capitalize;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:14px;vertical-align:top;}
.com-roll-item:hover span{text-decoration:none;}
.about-btns{float:right;*display:inline;width:375px;padding:0 15px 0 0;text-align:right;position:absolute;top:-6px;right:0;}.about-btns .abtn{width:79px;height:79px;line-height:79px;display:inline-block;text-align:center;vertical-align:top;background-image:url(company/about-btns.png);background-repeat:no-repeat;}
.about-btns .view{background-position:0 -79px;}
.about-btns .apply{background-position:0 -158px;}
.about-btns .bkmked{background-position:0 -237px;}
.about-btns .bkmk{background-position:0 0;}
.required{display:inline-block;/*width:88px;height:88px;background:url(search/fluent.png) no-repeat;*/}
.required b{display:block;color:#ea6e3b;font-weight:700;font-size:14px;padding:40px 0 0 0;}
.sharejob{background:url(company/about-share.png);background-repeat:no-repeat;display:block;float:left;*display:inline;cursor:pointer;width:26px;height:25px;margin-right:12px;}
.sharejob-f{background-position:0 0;}
.sharejob-t{background-position:0 -25px;}
.sharejob-s{background-position:0 -50px;}
.sharejob-g{background-position:0 -75px;}
.sharejob-m{background-position:0 -100px;}
.location img{margin-bottom:10px;}
.industry-ul{margin:0;}.industry-ul li{min-height:62px;padding:0px 0 0 54px;}.industry-ul li b{font-weight:700;display:block;font-size:12px;padding:10px 0 0 0;}
.industry-ul li span{font-size:11px;}
.industry-ul li.n1{background:url(company/about1.png) no-repeat 0 10px;}
.industry-ul li.n2{background:url(company/about2.png) no-repeat 0 10px;}
.industry-ul li.n3{background:url(company/about3.png) no-repeat 0 10px;}
.industry-ul li.n4{background:url(company/about4.png) no-repeat 0 10px;}
.match{height:134px;background:url(company/match.png) no-repeat center;text-align:center;}.match b{font-size:56px;color:#684092;padding:10px 0 0 0;font-family:Myriad Pro;display:block;}

.news-index{padding:15px 20px;margin-bottom:30px;}
.news-index-left{float:left;width:483px;}
.article, .profile, .upcoming_events{padding-bottom:5px;margin-bottom:10px;border-bottom: 5px solid #e6e650;}
.article .title, .titles .main_title, .useful_links .title, .upcoming_events .title, .top_stories .title{color:#674092;font-size:24px;font-weight:bold;padding-bottom: 10px;line-height: 28px;}
.article .content{font-size:12px;}
.article .content img{margin-bottom:10px;}
.article .content p, .profile .content p{padding-bottom: 10px;}
.article .content a, .profile .content a{color:#ef7641;text-decoration: underline;}
.share-sns a{color:#6d6e71;padding-left:17px;margin-right: 10px;}
.share-sns .like_btn{background:url(home/like.png) no-repeat 0 3px;}
.share-sns .share_btn{background:url(home/share.png) no-repeat 0 3px;}
.profile .profile_header .titles{float:left;width:301px;}
.profile .profile_img{float:right;width:130px;position:relative;}
.profile_img .mask{position:absolute;top:0;left:0;width:100%;height:130px;background: url(home/profile_img_mark.png) no-repeat;}
.titles .subtitle{color:#674092;font-size:15px;font-weight:bold;margin-bottom:15px;}
.titles .small_title{font-size:14px; color:#414042;font-weight:bold;margin-bottom:5px;}
.useful_links ul{padding-bottom: 10px;}
.useful_links ul li{font-size:14px;font-weight:bold;border-bottom:1px solid #cbdb30;line-height:30px;}
.useful_links ul li a{color:#414042;}
.news-index-right{float:right;width:229px;}
.event_row{margin-bottom:14px;}
.event_row a{color:#414042;}
.event_row .event_title{font-size:14px;font-weight:bold;color:#414042;}
.more_link a{color:#ef7641;text-decoration: underline;}
.story_row{margin-bottom:10px;}
.story_row .story_icon{float:left;width:50px;position:relative;}
.story_icon .mask{position:absolute;top:0;left:0;width:50px;height:50px;background: url(home/story_img_mark.png) no-repeat;}
.story_row .story_icon img{width:50px;height:50px;}
.story_row .story_title{paddint-top:5px;float:left;width:173px;font-size:14px;font-weight:bold;margin-left:6px;color:#414042;}
.signup-pop-apply, .pop-delete-job, .pop-delete-company, .pop-bookmark, .signup-pop-bookmark {
    display:none;margin:0 auto;text-align:center;z-index:102;width:237px;
    height:115px;position:absolute;top:42%;left:42%;background:url(search/signup_to_apply_job_pop_bg.png);}.pop-welcome b,.pop-welcome .span2{text-align:center;font-size:22px;color:#cb6139;font-family:Arial;line-height:26px;font-weight:bolder;}
.signup-pop-apply-close{width:20px;height:20px;right:0px;cursor:pointer;display:block;}
.signup-pop-apply-nav{padding:22px 20px 8px 20px;font-size:13px;color:#363636;font-weight:bold;}
.signup-pop-apply .signup-pop-btn, .signup-pop-bookmark .signup-pop-btn {width:190px;height:28px;border:none;cursor:pointer;background: url(search/sign_up_btn_apply.png) no-repeat;}
.profile_views_num{color:#ebebec;font-size:14px;font-weight:bold;}
a.edit_jobseeker_profile_link{text-decoration:underline;margin-left:10px;color:#674092;}
div.text{margin-top: 8px;}
ul.recent_applied_jobs{}
ul.recent_applied_jobs li{line-height:35px;border-bottom:1px solid #CCCCCC;background:url(jobseeker/right_arrow_pinple.png) no-repeat right;}
ul.recent_applied_jobs li a{font-size:13px;color:#674092;text-decoration: underline;width:100%;}
.square_btn {width: 79px;height: 79px;line-height: 79px;display: inline-block;text-align: center;vertical-align: top;margin-right:5px;}
.edit_profile_btn{background: url(btns/btn_edit_profile.png) no-repeat;}
.edit_profile_btn:hover{background-position:0 -79px;}
.jingchat_inbox_btn{background: url(btns/btn_jingchat_inbox.png) no-repeat;}
.jingchat_inbox_btn:hover{background-position:0 -79px;}
.jingchat_inbox_btn_current{background-position:0 -158px;}
.saved_bookmarks_btn{background: url(btns/btn_saved_bookmarks.png) no-repeat;}
.saved_bookmarks_btn:hover{background-position:0 -79px;}
.saved_bookmarks_btn_current{background-position:0 -158px;}
.view_my_candidates_btn{background: url(btns/btn_shortlist_candidate.png) no-repeat;}
.view_my_candidates_btn:hover{background-position:0 -79px;}
.view_my_candidates_btn_current{background-position:0 -158px;}
.view_my_interviews_btn{background: url(btns/btn_view_my_interviews.png) no-repeat;}
.view_my_interviews_btn:hover{background-position:0 -79px;}
.view_my_interviews_btn_current{background-position:0 -158px;}
.delete_job_btn{background: url(btns/btn_delete_job.png) no-repeat;}
.delete_company_btn{background: url(btns/btn_delete_company.png) no-repeat;}
.match_percentage_btn{font-size:25px;line-height:65px;text-align:center;font-weight:bold;color:#FFFFFF;background: url(btns/btn_match_percentage.png) no-repeat;}
.match_percentage_btn:visited{color:#FFFFFF;}
.match_percentage_btn:hover{text-decoration: none;}
.search_btn{width:102px;height:25px;line-height:25px;display:inline-block;text-align:center;vertical-align:top;border:0;cursor:pointer;background:url(btns/btn_search.png) no-repeat;}
.orange_link{color:#ea6e3b;}
.orange_link:visited{color:#ea6e3b;}
.text_align_right{text-align:right;}
.bubble{position:absolute;top:-5px;min-width:18px;min-height:18px;font-size:13px;text-align:center;background-color: #674092;color:white;padding:3px;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;}
.jingchat_inbox_bubble{right:190px;}
.view_my_interviews_bubble{right:16px;}
.jobseeker_icon{border:5px solid #674092;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;}
.company_icon .jobseeker_icon{border:4px solid #674092;-moz-border-radius: 10%;-webkit-border-radius: 10%;border-radius: 10%;}
.round_img{-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;}
.round_img_border3{border:3px solid #674092;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;}
.round_corner10_img{-moz-border-radius: 10%;-webkit-border-radius: 10%;border-radius: 10%;}
.inbox_overview_list{float:left;width:290px;height:520px;overflow-y:scroll;padding-top:8px;}
.inbox_mail_content{float:left;width:454px;height:500px;overflow-y:scroll;padding:10px;line-height:18px;}
.inbox_overview_row{height:70px;line-height:70px;vertical-align: middle;border-bottom:1px solid #CCCCCC;padding-top:5px;}
.inbox_overview_row_current{background-color: #e0e0e0;}
.email_select_checkbox{width:15px;float:left;padding:0px 8px 5px 0px;}
.sender_avatar{width:50px;float:left;padding-top:5px;display:none;}
.email_short_description{width:237px;float:left;line-height:22px;height:22px;margin-left:10px;font-size:13px;font-weight:bold;}
.email_short_description .from_name{color:#414042;}
.email_short_description .received_date{float:right;color:#414042;font-size:10px;}
.jingchatlog_wrapper .email_short_description .received_date{float:right;text-align:right;}
.email_short_description .email_subject{color:#674092;}
.email_short_description .email_actions_bar{padding-top:5px;}
.email_short_description .email_actions_bar img{margin-right:8px;cursor:pointer;}
.inbox_mail_content .inbox_detail_header{border-bottom:1px solid #CCCCCC;padding-bottom:12px;}
.inbox_mail_content .inbox_detail_content{padding:10px;}
.inbox_multi_actions_bar{float:right;margin-right:22px;}
.inbox_multi_actions_bar img{cursor:pointer;margin-left:7px;}
.jingchat_log_content{float:left;width:476px;height:517px;overflow:hidden;}
.jingchat_log_content .jingchat_wrapper{height:509px;width:476px;}
.jingchat_log_content .jingchat_messages{height:431px;overflow-y: scroll;}
.jingchat_log_content .jingchat_wrapper{margin-top: 0;}
.profile_portfolios_wrapper{margin-top:15px;width:470px;}
.portfolio_row{margin-top:15px;}
.portfolio_item{float:left;width:134px;height:80px;position:relative;}
.portfolio_item img{width:134px;height:80px;}
.portfolio_item .portfolio_caption{position:absolute;bottom:0;width:100%;color:#ffffff;background-color:#723f8a;filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9;}
.portfolio_item .portfolio_caption span{padding-left: 5px;}

.als-container {position: relative; width: 100%; margin: 0px auto;z-index: 0;}
.als-viewport {position: relative;overflow: hidden;margin: 0px auto;}
.als-wrapper {position: relative;list-style: none;}
.als-item {position: relative;display: block;text-align: center;cursor: pointer;float: left;}
.als-prev, .als-next {position: absolute;cursor: pointer;clear: both;}
.als-prev{top:80px;left:-3px;}
.als-next{top:80px;right:2px;}

.view_portfolio_pop{display:none;z-index:102;width:787px;height:663px;position:absolute;top:70%;left:20%;background:url(portfolio/edit_portfolio_popup_bg.png);}
.view_portfolio_pop_wrap{padding:10px 20px;}
.view_portfolio_pop_close{width:20px;height:20px;right:3px;top:0px;cursor:pointer;}
.view_portfolio_body{position:relative;}
.view_portfolio_content .content_text{padding:10px 20px;background-color:#FFFFFF;overflow-y:scroll;margin-top:10px;border:3px solid #e5e5e5;height:400px;}
.view_portfolio_content .content_audio{padding:10px 20px;background-color:#FFFFFF;overflow:hidden;margin-top:10px;height:400px;}
.view_portfolio_content .content_img{text-align:center;padding-top:10px;}
.view_portfolio_content .content_img img{height:420px;width:300px;}
.view_portfolio_content .font_zoom_bar{position:absolute;top:385px;left:300px;height:40px;width:103px;background:url(portfolio/font_zoom_bar_bg.png) no-repeat;}
.view_portfolio_content .font_zoom_bar img{margin-left:14px;margin-top:5px;cursor:pointer;}
.view_portfolio_content .font_zoom_bar img.zoom_out{margin-left:24px;margin-top:10px;}
.view_portfolio_navigator{padding-top:18px;text-align: center;min-height: 120px;}
.view_portfolio_navigator img{vertical-align:middle;cursor:pointer; margin-left:10px;}
.view_portfolio_navigator .als-item {margin-right: 10px;height:99px;width:99px;text-align: center;}
.view_portfolio_navigator li.current{border:3px solid #674092;}
.view_portfolio_navigator .als-item img {display: block;margin: 0 auto;vertical-align: middle;}
.view_portfolio_navigator .als-prev{top:36px;}
.view_portfolio_navigator .als-next{top:36px;}
.audio_icon{text-align:center;padding:50px 0 30px 0;}
.jplayer_wrapper{text-align:center;}
.view_portfolio_navigator img.current{border:3px solid #674092;}

.interview_types_navigator{font-size:14px;}
.interview_types_navigator li{padding: 0 0 0 10px;height:40px;line-height:40px;}
.interview_types_navigator li div{border-bottom:1px solid #f1f1a5;}
.interview_types_navigator li.current{background-color:#f1f1a5;}
.interview_types_navigator li a{color:#000000;text-decoration:none;}
.search_interviews{padding:10px 0 10px 10px;}
.search_interviews label{font-size:14px;}
.search_interviews form{border:1px solid #cacaca;width:228px;margin-top:6px;}
.search_interview_btn{position:absolute;width:25px;height:25px;line-height:25px;display:inline-block;text-align:center;vertical-align:top;border:0;cursor:pointer;background:url(btns/btn_search_interview.png) no-repeat;}
.view_interview_page .sresult-par1 .span2 h3{font-size:15px;}
.view_interview_page .sresult-par1 .span2 p{font-size:15px;}
.span3 .interview_sent_date{font-size:15px;font-weight:bold;padding:5px 10px 50px 0;text-align:right;color:#f37544;}
.span3 .interview_action_btns{text-align:right;padding:5px 10px 0 0;}
.span3 .interview_action_btns img{margin-left:10px;cursor: pointer;}
.interview_description{border-bottom:1px solid #CCCCCC;padding:0 0 10px 6px;}
.interview_description .description_left{float:left;width:50%;}
.interview_description .description_right{float:right;width:50%;}
.interview_description p{}
.interview_description p.interview_field_content{color:#f37544;font-size:15px;font-weight:bold;margin-bottom:10px;}
.interview_description a{text-decoration:underline;color:#674092;font-size:12px;font-weight:bold;}
.intereview_letter{padding:6px;}
.reply_interview_request{padding:6px;}
.reply_interview_request img{cursor:pointer;}
.reply_message_pop{display:none;z-index:102;width:518px;height:478px;position:absolute;top:50%;left:50%;margin:-116px 0 0 -245.5px;background:url(jobseeker/reply_message_pop_bg.png);}
.reply_message_pop b{display:block;font-size:15px;color:#ea6e3b;font-weight:bold;padding:20px 0 10px 20px;}
.reply_message_pop_close{width:20px;height:20px;right:1px;cursor:pointer;display:block;}
.reply_message_pop_bd{overflow:hidden;zoom:1;padding:0 20px;}
.reply_message_pop_bd_heder .title{float:left;width:60px;font-weight:bold;font-size:15px;text-align:right;}
.reply_message_pop_bd_heder .content{float:left;margin-left:5px;}
.reply_message_pop_bd_heder .content input{border:1px solid #674092;}
.reply_message_pop_bd_content{padding:8px 17px 10px 0;}
.reply_message_pop_bd_content textarea{height:280px;width:100%;text-align:left;border-color:#674092;padding:5px;}
.send_message_function{cursor:pointer;}
.message_sent_pop{display:none;z-index:102;width:518px;height:100px;position:absolute;top:50%;left:50%;margin:40px 0 0 -245.5px;background:url(jobseeker/message_sent_pop_bg.png);}
.message_sent_pop_close{width:20px;height:20px;right:1px;cursor:pointer;display:block;}
.message_sent_pop_bd{overflow:hidden;zoom:1;padding:30px;text-align:center;font-weight: bold;}
.message_sent_pop_bd .message_title{font-size:16px;color:#ea6e3b;}
.message_sent_pop_bd .message_content a{font-size:14px;color:#674092;text-decoration: none;}

.request_interview_pop{display:none;z-index:102;width:600px;height:327px;position:absolute;top:50%;left:50%;margin:-116px 0 0 -245.5px;background:url(company/request_interview_pop_bg.png);}
.request_interview_pop b{display:block;text-align:center;font-size:15px;color:#434345;font-weight:bold;padding:20px 0 10px 20px;}
.request_interview_pop b span{color:#ea6e3b;}
.request_interview_pop_close{width:20px;height:20px;right:1px;cursor:pointer;display:block;}
.request_interview_pop_bd{overflow:hidden;zoom:1;padding:0 55px;}
.request_interview_pop_bd label,.request_interview_pop_bd select, .request_interview_pop_bd textarea{display:block;}
.request_interview_pop_bd label{padding-top:5px;}
.request_interview_pop_left{float:left;width:50%;}
.request_interview_pop_left select{width:90%;}
.request_interview_pop_left textarea{height:72px;width:90%;}
.request_interview_pop_right{float:right;width:50%;}
.preferred_communication_wrapper i.kyo-radio{width:215px;display:block;}
.preferred_communication_wrapper input{width:230px;}
.time_selector_wrapper .time_zone{float:left;width:50%;}
.time_selector_wrapper select,.time_selector_wrapper input{width:107px;}
.time_selector_wrapper .time_wrapper{float:right;width:50%;}
.request_interview_pop_actions{padding-top:20px;text-align:center;clear:both;}
.request_interview_pop_actions img{cursor:pointer;margin-right:10px;}
h2.applied_jobs_title{color:#674092;font-size:18px;font-weight:bold;padding-left:10px;}
.view_applied_jobs_page .interview_sent_date{width:75px;padding-top:45px;float:right;margin-right:12px;background:url(jobseeker/job_applied_date_bg.png) no-repeat;}
.pop-succ-message {text-align: center; color: red; font-size: 16px;margin-top:20px; font-weight:bold;}
.request-sent-pop-message { height: 100px;}
