.ora{color:#ea6e3b;}
.pur{color:#481052;}
.p-bn{height:390px;z-index:5;}
.pbn-find{padding:114px 0 40px 0;text-align:center;width:492px;margin:auto;}
.pbn-job,.pbn-staff,.pbn-btn{display:block;width:231px;height:164px;float:left;}
.pbn-job{margin:0 20px 0 0;}
.pbn-btn{background-image:url(home/find.png);}
.pbn-btn-job{background-position:0 0;}.pbn-btn-job:hover{background-position:0 -328px;}
.pbn-btn-staff{background-position:0 -164px;}.pbn-btn-staff:hover{background-position:0 -492px;}
.find-hover{display:none;width:238px;height:256px;background:url(home/find-hover.png) no-repeat;left:-4px;top:150px;}.find-hover strong{display:block;text-align:left;padding:15px 0 0 15px;height:33px;line-height:33px;color:#626262;}
.find-hover p a{color:#ea6e3b;}
.find-hover ul{width:224px;height:180px;margin:auto;background:url(home/find-li.gif) no-repeat;}
.find-hover li{height:45px;position:relative;text-align:left;}.find-hover li a{display:block;position:absolute;top:0;left:0;height:45px;overflow:hidden;text-decoration:none;}.find-hover li a:hover{text-decoration:none;}
.find-hover li b{display:block;color:#fff;padding:5px 0 0 0;font-weight:bolder;}
.find-hover li i{color:#e6e650;font-size:11px;}
.find-hover .even a{background-position:0 -45px;}
.pbn-job-ul a{background:url(home/find-mark1.png);background-repeat:no-repeat;padding:0 0 0 75px;width:154px;}
.pbn-staff-ul img{padding-left:8px;}
.pbn-staff-ul a{background:url(home/find-mark2.png);background-repeat:no-repeat;padding:0 0 0 60px;width:179px;}
.pbn-find{height:170px;}
.pbn-singup{text-align:center;}
.pbn-singup{clear:both;}
.pbn-singup-btn{background:url(home/singup.png);display:inline-block;width:232px;height:41px;}
.p-bd{height:156px;}
.p-sponsors .scroll-item{float:left;display:inline-block;}
.p-sponsors .scroll-bar{position:absolute;cursor:pointer;height:38px;width:23px;bottom:23px;top:50%;margin-top:-19px;background-image:url(home/roll-bar.gif);background-repeat:no-repeat;}
.p-sponsors .scroll-left{left:82px;}
.p-sponsors .scroll-right{right:82px;background-position:0 bottom;}
.p-sponsors-item{position:relative;cursor:pointer;text-decoration:none;}.p-sponsors-item .mark{position:absolute;top:0;left:0;width:168px;height:85px;background:url(home/sponsors-mark.gif) no-repeat;}
.p-sponsors-item p{position:absolute;width:90px;left:73px;top:6px;}
.p-sponsors-item b{color:#fff;font-weight:700;font-size:12px;text-transform:uppercase;line-height:14px;vertical-align:top;display:block;}
.p-sponsors-item span{color:#d6d54f;text-transform:capitalize;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:14px;vertical-align:top;}
.p-sponsors-item:hover span{text-decoration:none;}
.p-blog{height:324px;background:url(home/blog-bg.png) repeat-x;overflow:hidden;zoom:1;}
.h-blog-hd{height:50px;padding:14px 0 0 0;font-weight:bolder;}.h-blog-hd strong{display:block;height:24px;line-height:24px;font-size:18px;color:#674092;}
.h-blog-hd a{background:url(home/arr.gif) no-repeat right;padding:0 16px 0 0;color:#481052;}
.h-blog-ul li{width:184px;float:left;*display:inline;display:inline;height:235px;position:relative;overflow:hidden;background-color:#f16f3a;}
.h-blog-ul .mark{position:absolute;top:0;left:0;width:100%;height:160px;background-image:url(home/blog.png);background-repeat:no-repeat;}
.h-blog-ul li.n1 .mark{background-position:0 0;}
.h-blog-ul li.n2 .mark{background-position:-184px 0;}
.h-blog-ul li.n3 .mark{background-position:-368px 0;}
.h-blog-ul li.n4 .mark{background-position:-552px 0;}
.h-blog-ul img{margin:5px 0 0 32px;}
.h-blog-ul a{position:absolute;top:10px;left:0;width:183px;height:105px;padding:110px 0 0 0;overflow:hidden;text-decoration:none;border-right:1px solid #dd602e;}.h-blog-ul a strong,.h-blog-ul a span,.h-blog-ul a b{font:Arial;text-align:center;display:block;word-wrap:break-word;word-break:normal;overflow:hidden;cursor:pointer;}
.h-blog-ul a strong,.h-blog-ul a span{padding:0 10px;}
.h-blog-ul a span,.h-blog-ul a b{font-size:10px;}
.h-blog-ul a strong{font-size:16px;text-transform:uppercase;line-height:18px;height:42px;color:#522162;}
.h-blog-ul a span{line-height:11px;height:45px;color:#fff;}
.h-blog-ul a b{color:#e6e74f;}
.h-blog-ul a:hover{text-decoration:none;}
/*.h-blog-ul li:hover img{-webkit-animation:rotateIn 1s .2s ease both;-moz-animation:rotateIn 1s .2s ease both;}*/
.p-jobs .title {color:#674092;font-size:14px;font-weight: bold;margin-bottom:3px;}
.p-jobs .h-jobs-bd {background: #674092; height: 94px;}
.p-jobs .h-jobs-bd .p-jobs-item {width:190px; height:68px; overflow:hidden; margin-top:13px; display:block; float:left;border-right:1px #3a0837 solid;}
.p-jobs .h-jobs-bd .p-jobs-item .mark{top:0px; z-index:98; background:url("home/recentlyjobs-bg.png") no-repeat; width:183px; height:68px;}
.p-jobs .h-jobs-bd .p-jobs-item img {z-index:97; position:absolute; top:-6px; left:3px;}
.p-jobs .last {border: 0px !important;}
.p-jobs .h-jobs-bd .p-jobs-item .jobtitle {z-index:99; color: #fff; top:18px; left:70px; }
.p-jobs .h-jobs-bd .p-jobs-item .compname {z-index:100; color: #EBF14A; top:35px; left:70px; text-decoration: underline;}
.p-jobs .h-jobs-bd .p-jobs-item .city {z-index:100; color: #EBF14A; top:35px; left:70px; }
.p-partners {margin:25px 0;}
.p-partners .title {color:#674092;font-size:14px;font-weight: bold;margin-bottom:3px;}
.p-partners .h-partners-bd {height:108px;}
.p-partners .h-partners-bd .p-partners-item {float:left; width:190px; height:108px; overflow:hidden;}
@-webkit-keyframes rotateIn{0%{-webkit-transform-origin:center center;-webkit-transform:rotate(-360deg);opacity:1;} 100%{-webkit-transform-origin:center center;-webkit-transform:rotate(0);opacity:1;}}@-moz-keyframes rotateIn{0%{-moz-transform-origin:center center;-moz-transform:rotate(-360deg);opacity:1;} 100%{-moz-transform-origin:center center;-moz-transform:rotate(0);opacity:1;}}
.pop-reg{display:none;z-index:111;width:300px;height:282px;position:absolute;top:50%;left:50%;margin:-141px 0 0 -150px;background:url(home/pop-reg.png) no-repeat;}
.pop-reg-close{width:18px;height:18px;top:3px;right:3px;cursor:pointer;}
.pop-reg-wrap{padding:15px 14px 0 14px;}
.pop-reg-wrap label b{font-size:9px;height:18px;line-height:18px;}
.pop-reg-wrap label span{font-size:9px;height:18px;line-height:18px;margin-left:20px;color:red;}
.pop-reg-wrap label .kyo-input{width:98%;}
.pop-reg-wrap label.fl{width:48%;}
.pop-reg-wrap label.fr{width:48%;margin-right:1%;}
.pop-reg-tit{height:14px;line-height:14px;font:Arial;}.pop-reg-tit b{font-weight:bolder;height:14px;line-height:14px;}
.pop-reg-tit i{color:#393939;float:right;*display:inline;font-size:10px;padding:0 15px 0 0;}
.pop-reg-tit a{color:#ea6e3b;}
.pop-reg-type{height:20px;padding:10px 0 8px 0;}.pop-reg-type i{margin:0 20px 0 0;}
.pop-reg-personal,.pop-reg-company,.pop-reg-mail,.pop-reg-password{height:48px;overflow:hidden;zoom:1;}
.pop-reg-agree{height:28px;adding-right:8px;}.pop-reg-agree i.kyo-checkbox{font-size:9px;}
.pop-reg-submit{text-align:center;}
.pop-reg-submit-btn{width:221px;height:28px;margin:auto;cursor:pointer;border:0;background:url(home/reg-submit.gif) no-repeat;}
.pop-login{display:none;z-index:111;width: 238px;min-height:149px;position:absolute;top:50%;left:50%;margin:-141px 0 0 -127px;}
.pop-login .phd-login-pop {background: url(pub/login_body_bg2.png) no-repeat !important; display:block !important;top: 0px !important;left: 0px !important;}
.pop-welcome{display:none;z-index:102;width:491px;height:232px;position:absolute;top:50%;left:50%;margin:-116px 0 0 -245.5px;background:url(home/pop-welcome.png);}.pop-welcome b,.pop-welcome .span2{text-align:center;font-size:22px;color:#cb6139;font-family:Arial;line-height:26px;font-weight:bolder;}
.pop-welcome b{display:block;padding:32px 100px 20px 100px;}
.pop-welcome-close{width:20px;height:20px;top:3px;right:3px;cursor:pointer;display:block;}
.pop-welcome-bd{overflow:hidden;zoom:1;}.pop-welcome-bd .span1,.pop-welcome-bd .span2,.pop-welcome-bd .span3{*display:inline;}
.pop-welcome-bd .span1{width:215px;float:left;margin-right:0px;}
.pop-welcome-bd .span2{width:60px;float:left;}
.pop-welcome-bd .span3{width:215px;float:right;}
.pop-welcome-bd .span1{text-align:right;}
.pop-welcome-bd .span2{font-size:22px;padding:10px 0 0 0;}
.pop-welcome-bd .span1,.pop-welcome-bd .span3{color:#674092;font-weight:700;font-size:14px;}
.pop-welcome-bd .pop-welcome-here{width:106px;height:42px;line-height:42px;display:inline-block;text-align:center;vertical-align:top;background:url(home/here.gif) no-repeat;margin-top:10px;}
.company-hd{height:115px;}.company-hd .face{display:block;width:128px;height:128px;background:url(company/face.png) no-repeat;top:-38px;left:15px;}
.company-hd .text{float:left;*display:inline;width:210px;padding:10px 0 0 156px;}.company-hd .text h2,.company-hd .text h4{color:#48225b;font-weight:bolder;}
.company-hd .text h2{font-size:22px;text-transform:uppercase;}
.company-hd .text h4{font-size:20px;}
.company-hd .text p{color:#5c5c5c;font-size:15px;}
.jobseeker-hd .text{width:220px;}
.jobseeker-bd a{color: #ea6e3b;margin-right: 5px;text-decoration: underline;}
.company-hd .btnarea{float:right;*display:inline;width:375px;padding:0 15px 0 0;text-align:right;position:absolute;top:-6px;right:0;}
.company-hd .combtn{width:79px;height:79px;line-height:79px;display:inline-block;text-align:center;vertical-align:top;background-image:url(company/btns.png);background-repeat:no-repeat;}
.company-hd .bookmark{background-position:0 0;}
.company-hd .bookmarded{background-position:0 -79px;}
.company-hd .website{background-position:0 -158px;}
.company-hd .edit{background-position:0 -237px;}
.company-hd .inbox{background-position:0 -316px;}
.company-hd .views{background-position:0 -395px;}
.company-hd .cand{background-position:0 -474px;}
.company-hd .combo_btns {width: 79px;height: 79px;line-height: 79px;display: inline-block;text-align: center;vertical-align: top;background-image: url(jobseeker/combo_btns.png);background-repeat: no-repeat;}
.company-hd .view_profile{background-position:0 -553px;}
.company-hd .start_jingchat{background-position:0 -632px;}
.company-hd .shorlist_candidate{background-position:0 -711px;}
.company-hd .request_interview{background-position:0 -790px;}
.company-bd{overflow:hidden;zoom:1;font-family:Arial;font-size:13px;padding:0 15px 15px 15px;}.company-bd dt{font-weight:bolder;padding-bottom:5px;}.company-bd dt a{color:#674092;font-size:12px;text-transform:capitalize;}.company-bd dt a:hover{text-decoration:none;}
.company-bd .idustry a{color:#ea6e3b;text-transform:capitalize;margin-right:5px;}
.company-bd dd{font-size:12px;}
.company-bd-left, .jobseeker-bd-left{width:470px;border-right:1px solid #e6e74f;float:left;*display:inline;padding:0 10px 0 0;}
.company-bd-right, .jobseeker-bd-right{width:240px;float:right;*display:inline;}
.jobseeker-bd-left{border:none;padding:0;}
.jobseeker-bd-right{border-left:1px solid #e6e74f;padding:0 0 0 10px;}
.similar_people .people_icon{float:left;position: relative;}
.similar_people .people_icon img{width:50px;height:50px;}
.similar_people .people_icon .mask{position:absolute;top:0;left:0;width:50px;height:50px;background: url(home/story_img_mark.png) no-repeat;}
.similar_people .people_description{float:left;width:180px;margin-left:6px;color:#000000;}
.similar_people .people_description div{font-weight:bold;color:#674092;}
.redstar-works{margin-top:10px;border-top:1px solid #dcdcdc;}.redstar-works li{border-bottom:1px solid #dcdcdc;height:34px;line-height:34px;background:url(company/arr.png) no-repeat right;}
.redstar-works a{font-weight:bolder;color:#674092;}
.redstar-web{line-height:1.8;}.redstar-web a{color:#ea6e3b;font-weight:bolder;}
.company-similar{padding:5px 20px 10px 20px;}.company-similar a{color:#674092;font-weight:bolder;font-size:13px;}
.listed{margin:5px 0 0 0;border-top:1px solid #dcdcdc;}.listed p{color:#674092;font-weight:bolder;padding:10px 0 15px 0;}
.com-roll-bd{background:#674092;height:97px;}
.com-roll .scroll-item{float:left;display:inline-block;}
.com-roll .scroll-bar{position:absolute;cursor:pointer;height:38px;width:23px;bottom:23px;top:50%;margin-top:-19px;background-image:url(home/roll-bar.gif);background-repeat:no-repeat;}
.com-roll .scroll-left{left:82px;}
.com-roll .scroll-right{right:82px;background-position:0 bottom;}
.com-roll-item{position:relative;cursor:pointer;text-decoration:none;}.com-roll-item .mark{position:absolute;top:0;left:0;width:187px;height:69px;background:url(company/roll-mark.png) no-repeat;}
.com-roll-item img{margin-top:3px;}
.com-roll-item p{position:absolute;width:110px;left:73px;top:6px;}
.com-roll-item b{color:#e7e751;font-size:12px;text-transform:uppercase;line-height:14px;vertical-align:top;display:block;}
.com-roll-item span{color:#fff;text-transform:capitalize;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:14px;vertical-align:top;}
.com-roll-item:hover span{text-decoration:none;}
.about-btns{float:right;*display:inline;width:375px;padding:0 15px 0 0;text-align:right;position:absolute;top:-6px;right:0;}.about-btns .abtn{width:79px;height:79px;line-height:79px;display:inline-block;text-align:center;vertical-align:top;background-image:url(company/about-btns.png);background-repeat:no-repeat;}
.about-btns .view{background-position:0 -79px;}
.about-btns .apply{background-position:0 -158px;}
.about-btns .bkmked{background-position:0 -237px;}
.about-btns .bkmk{background-position:0 0;}
.required{display:inline-block;/*width:88px;height:88px;background:url(search/fluent.png) no-repeat;*/}
.required b{display:block;color:#ea6e3b;font-weight:700;font-size:14px;padding:40px 0 0 0;}
.sharejob{background:url(company/about-share.png);background-repeat:no-repeat;display:block;float:left;*display:inline;cursor:pointer;width:26px;height:25px;margin-right:12px;}
.sharejob-f{background-position:0 0;}
.sharejob-t{background-position:0 -25px;}
.sharejob-s{background-position:0 -50px;}
.sharejob-g{background-position:0 -75px;}
.sharejob-m{background-position:0 -100px;}
.location img{margin-bottom:10px;}
.industry-ul{margin:0;}.industry-ul li{height:62px;padding:0px 0 0 54px;}.industry-ul li b{font-weight:700;display:block;font-size:12px;padding:10px 0 0 0;}
.industry-ul li span{font-size:11px;}
.industry-ul li.n1{background:url(company/about1.png) no-repeat 0 10px;}
.industry-ul li.n2{background:url(company/about2.png) no-repeat 0 10px;}
.industry-ul li.n3{background:url(company/about3.png) no-repeat 0 10px;}
.industry-ul li.n4{background:url(company/about4.png) no-repeat 0 10px;}
.similar li{height:56px;position:relative;}
.similar img{width:50px;height:50px;float:left;margin:0 8px 0 0;}
.similar a{display:block;font-weight:700;font-size:14px;padding:9px 0 0 0;}
.similar i{display:block;width:69px;height:55px;background:url(company/similar-mark.png) no-repeat;position:absolute;top:0;left:0;}
.match{height:134px;background:url(company/match.png) no-repeat center;text-align:center;}.match b{font-size:56px;color:#684092;padding:10px 0 0 0;font-family:Myriad Pro;display:block;}

.news-index{padding:15px 20px;margin-bottom:30px;}
.news-index-left{float:left;width:483px;}
.article, .profile, .upcoming_events{padding-bottom:5px;margin-bottom:10px;border-bottom: 5px solid #e6e650;}
.article .title, .titles .main_title, .useful_links .title, .upcoming_events .title, .top_stories .title{color:#674092;font-size:24px;font-weight:bold;padding-bottom: 10px;line-height: 28px;}
.article .content{font-size:12px;}
.article .content img{margin-bottom:10px;}
.article .content p, .profile .content p{padding-bottom: 10px;}
.article .content a, .profile .content a{color:#ef7641;text-decoration: underline;}
.share-sns a{color:#6d6e71;padding-left:17px;margin-right: 10px;}
.share-sns .like_btn{background:url(home/like.png) no-repeat 0 3px;}
.share-sns .share_btn{background:url(home/share.png) no-repeat 0 3px;}
.profile .profile_header .titles{float:left;width:301px;}
.profile .profile_img{float:right;width:130px;position:relative;}
.profile_img .mask{position:absolute;top:0;left:0;width:100%;height:130px;background: url(home/profile_img_mark.png) no-repeat;}
.titles .subtitle{color:#674092;font-size:15px;font-weight:bold;margin-bottom:15px;}
.titles .small_title{font-size:14px; color:#414042;font-weight:bold;margin-bottom:5px;}
.useful_links ul{padding-bottom: 10px;}
.useful_links ul li{font-size:14px;font-weight:bold;border-bottom:1px solid #cbdb30;line-height:30px;}
.useful_links ul li a{color:#414042;}
.news-index-right{float:right;width:229px;}
.event_row{margin-bottom:14px;}
.event_row a{color:#414042;}
.event_row .event_title{font-size:14px;font-weight:bold;color:#414042;}
.more_link a{color:#ef7641;text-decoration: underline;}
.story_row{margin-bottom:10px;}
.story_row .story_icon{float:left;width:50px;position:relative;}
.story_icon .mask{position:absolute;top:0;left:0;width:50px;height:50px;background: url(home/story_img_mark.png) no-repeat;}
.story_row .story_icon img{width:50px;height:50px;}
.story_row .story_title{paddint-top:5px;float:left;width:173px;font-size:14px;font-weight:bold;margin-left:6px;color:#414042;}

