.ora{color:#ea6e3b;}
.pur{color:#481052;}
html{background:#b5d335 url(pub/inner-htmlbg.gif) repeat-x;}
select {font-family: arial;}
.reg-left{width:235px;padding-bottom:10px;}
.reg-right-wrap{float:right;*display:inline;width:505px;}
.reg-right{padding:15px;width:485px;}
.reg-left-tit{text-align:center;color:#5f2d77;font-size:25px;font-weight:bolder;height:68px;line-height:68px;}
.reg-ul{width:210px;margin:auto;}.reg-ul li{border-top:1px solid #dddddd;height:34px;line-height:34px;background-image:url(reg/icon.png);background-repeat:no-repeat;background-position:0 -24px;padding-left:35px;}
.reg-ul a{font-weight:bolder;color:#4e4e4e;}
.reg-ul li.curr{background-position:0 10px;}.reg-ul li.curr a{color:#ea6e3b;}
.reg-right-text{font-weight:bolder;color:#414042;padding-bottom:10px;}.reg-right-text a{color:#674092;}
.reg-area{padding-bottom:20px;}
.reg-area-tit{height:34px;line-height:34px;border-bottom:1px solid #e0e0e0;border-top:1px solid #e0e0e0;font-weight:bolder;color:#ea6e3b;font-size:15px;background-image:url(reg/icon.png);background-repeat:no-repeat;background-position:460px -24px;}
.reg-area-tit-curr{background-position:460px 9px;}
.reg-row{padding-bottom:10px;}.reg-row strong{height:30px;line-height:30px;}.reg-row strong span{font-weight:300;font-size:11px;}
.reg-row b{font-size:13px;height:30px;line-height:30px;}
.reg-input{border:1px solid #d3d3d3;width:228px;height:22px;line-height:22px;background:#fff;text-indent:3px;color:#777;}
.reg-textarea{border:1px solid #d3d3d3;width:450px;height:55px;padding:10px;color:#777;}
.reg-company-img{border:1px solid #d3d3d3;cursor:pointer;}
.reg-row-tip{color:#ea6e3b;padding:5px 0;display:inline-block;}
.reg-save{width:83px;height:25px;line-height:25px;display:inline-block;text-align:center;vertical-align:top;background:url(reg/save.gif) no-repeat;border:0;cursor:pointer;}
.reg-btns{height:54px;}
.reg-btns a{height:25px;cursor:pointer;display:inline-block;margin-right:10px;}
.reg-btns-save{width:83px;background:url(reg/save-all.png) no-repeat;}
.reg-btns-post{width:144px;background:url(reg/post-job.png) no-repeat;}
.reg-btns-find{width:144px;background:url(reg/find.png) no-repeat;}
.reg-btns-saveall{width:83px;background:url(reg/save-all.png) no-repeat;}
.view_my_profile{width:144px;background:url(reg/view_my_profile_btn.png) no-repeat;}
.reg-btns-job{width:144px;background:url(reg/findjob.png) no-repeat;}
.birthday{height:35px;}
.leng-radio li i{font-size:12px;width:290px;}
.reg-skills-text{padding:10px 0 10px 0;}.reg-skills-text b{font-size:12px;}
.reg-skills-text span{font-size:11px;}
.skills-input{width:470px;height:22px;line-height:22px;background:#fff;text-indent:3px;color:#777;border:1px solid #d3d3d3;}
.skills-dl{margin:5px 0 0 0;width:462px;padding:5px;line-height:22px;background:#fff;text-indent:3px;color:#777;border:1px solid #d3d3d3;}.skills-dl a{color:#414042;display:block;height:22px;line-height:22px;}
.skills-dl a:hover{text-decoration:none;background:#efefef;}
.skills-vals li{margin:0;list-style:none;float:left;height:22px;font-weight:bold;color:#f27f4d;font-family:Arial,Helvetica,sans-serif;line-height:22px;vertical-align:top;padding:0 22px 0 0;margin-right:10px;position:relative;}
.skills-vals .del{background:url(reg/del.gif) no-repeat center;width:22px;height:22px;display:inline-block;font-size:12px;cursor:pointer;position:relative;top:0;right:0; left:2px;float: right;}
.skills-vals li img{margin-top:5px;cursor:pointer;}
.postjob-content .skills-vals li {height:18px; font-size:14px;font-weight: normal;line-height: 12px;margin: 2px 5px 2px 0;padding: 2px 13px 3px 4px;}
.postjob-content .skills-vals .del {height:12px;margin: 0px 5px 2px 0;width:14px;}
.del{background:url(reg/del.gif) no-repeat;cursor: pointer;
    position: relative;
    top: 30px;
    left: -6px;
    float: left;
    font-size: 12px;
    height: 13px;
    width: 13px;}
.reg-row select {width:230px;height: 25px; line-height: 25px;padding:4px;font-family: arial;}
.reg-row #country {float:left;}
.reg-row #city {float:left;margin-left:10px;}
.reg-row #industry {display:block;}
.industry_options option{width:202px;}
.location select, .location dl.kyo-select-list {width:145px !important;}
#selYear1, #selMonth1, #selDay1 {width:140px;}
ul.tagit li.tagit-new {height:1px;overflow: hidden}
.reg-page .advsearch-row .span1, .reg-page .advsearch-row .span2 { width: 220px;}
.reg-page .advsearch-row .span3 { width: 13px;}
.delSeekingIndustry i{ float:right;position:relative;top:5px; }
.delSearchIndustry i { float: right; top: -25px; left:2px;}
.postjob_del { margin-top:-15px;float:right;width:13px;}
.postjob_del i { left:0px; top:0px;}
.reg-row select.multi_select { height: 100px;}
.postjob-content { width: 720px}
.managejob-content .skills-vals li {height:18px; font-size:14px;font-weight: normal;line-height: 12px;margin: 2px 5px 2px 0;padding: 2px 13px 3px 4px;}
.managejob-content .skills-vals .del {height:12px;margin: 0px 5px 2px 0;width:14px;}
.job-listing-ul{width:226px;margin:auto;}
.job-listing-ul li{border-bottom:1px solid #dddddd;height:34px;line-height:34px;
    background-image:url(reg/del-job-listing-ul.png);background-repeat:no-repeat;
    background-position:0 -24px;
	overflow: hidden;}
.job-listing-ul a{font-weight:bolder;color:#4e4e4e;}
.job-listing-ul li.curr{background-position:0 10px;color:#EA6E3B}
.search_joblisting {
    color: #4E4E4E;
    padding: 10px 0 10px 10px;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
}

.search_joblisting .curr{ color:#EA6E3B }