/*RADIO STYLE*/
i.kyo-radio{font-style:normal; display:inline-block; font-size:10px height:20px; line-height:20px; padding-right:18px; background:url(radio.png?1) no-repeat right; cursor:default;}
i.kyo-radio-hover{background:url(radio-hover.png?1) no-repeat right;}
i.kyo-radio-sel{background:url(radio-sel.png?1) no-repeat right;}
i.kyo-radio-sel-hover{background:url(radio-sel-hover.png?1) no-repeat right;}

/*CHECKBOX STYLE*/
i.kyo-checkbox{font-style:normal; display:inline-block; height:20px;font-size:10px; line-height:20px; padding-right:18px; background:url(radio.png?1) no-repeat right; cursor:default;}
i.kyo-checkbox-hover{background:url(radio-hover.png?1) no-repeat right;}
i.kyo-checkbox-sel{background:url(radio-sel.png?1) no-repeat right;}
i.kyo-checkbox-sel-hover{background:url(radio-sel-hover.png?1) no-repeat right;}

/*SWITCH STYLE*/
i.kyo-switch{display:inline-block; width:68px; height:20px; line-height:20px; overflow:hidden; position:relative;cursor:pointer;}
b.kyo-switch-bg{ position:absolute; width:136px; height:42px; background-image:url(switch.gif); background-repeat:no-repeat;}
b.kyo-switch-bar{position:absolute; width:35px; height:17px; overflow:hidden; top:2px;background:url(switch-bar.png) no-repeat;}
i.kyo-switch-hover b.kyo-switch-bar{ background:url(switch-bar-hover.png) no-repeat;}

/*INNPUT STYLE*/
input.kyo-input{ height:24px; line-height:24px; border:1px solid #cecece;}